@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #d87d4a;
  --color-dark: #101010;
  --color-muted: #f1f1f1;
  --color-offwhite: #fafafa;
  --color-primary-light: #fbaf85;
  --color-danger: #cd2c2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility h1 {
  @apply text-[56px] leading-[58px] font-bold tracking-[2px] uppercase max-md:text-[36px] max-md:leading-10 max-md:tracking-[1.29px];
}

@utility h2 {
  @apply text-[40px] leading-11 font-bold tracking-[1.5px] uppercase;
}

@utility h3 {
  @apply text-[32px] leading-9 font-bold tracking-[1.15px] uppercase;
}

@utility h4 {
  @apply text-[28px] leading-[38px] font-bold tracking-[2px] uppercase;
}

@utility h5 {
  @apply text-[24px] leading-[33px] font-bold tracking-[1.7px] uppercase;
}

@utility h6 {
  @apply text-[18px] leading-6 font-bold tracking-[1.3px] uppercase;
}

@utility overline {
  @apply text-[14px] leading-[19px] font-normal tracking-[10px] uppercase;
}
@utility subtitle {
  @apply text-[13px] leading-[25px] font-bold tracking-[1px] uppercase;
}

@utility body {
  @apply text-[15px] leading-[25px] font-medium tracking-[0px];
}

button {
  cursor: pointer !important;
}

button:disabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}